@import '../../variables.scss';

.cryptocurrency-detail-page {
  display: flex;
  flex-direction: column;

  &__icon {
    width: 30px;
    height: 30px;
  }

  &__header {
    align-items: center;
    border-radius: $primary-border-radius;
    display: flex;
    flex-direction: row;
  }

  &__title {
    font-size: $font-size-header;
    letter-spacing: rem-calc(2px);
    padding: 0 $spacings-M;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__cryptocurrency-side-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  &__cryptocurrency-side-details-element {
    display: flex;
    flex-direction: column;
    padding: $spacings-M $spacings-L;
    min-width: rem-calc(300px);
    width: 20%;
    border-radius: $primary-border-radius;
    color: $primary-text-color;
    background-color: $tertiary-background-color;
  }

  &__cryptocurrency-side-details-element-title {
    font-size: rem-calc(18px);
    letter-spacing: rem-calc(2px);
  }

  &__cryptocurrency-side-details-element-value {
    font-size: rem-calc(32px);
    font-weight: bold;
  }

  &__cryptocurrency-side-details-element-price-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__historic-price-chart {
    margin: $spacings-L 0 0 0;
    height: rem-calc(600px);
    width: rem-calc(1150px);
    background-color: $tertiary-background-color;
    border-radius: $primary-border-radius;
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .cryptocurrency-detail-page {
  }
}
