@import '../../variables.scss';

.cryptocurrency-icon {
  opacity: 0;

  &__backup-icon {
    align-items: center;
    border-radius: $secondary-border-radius;
    border: $secondary-border;
    color: $primary-text-color;
    display: flex;
    font-size: $font-size-subtitle;
    height: 100px;
    justify-content: center;
    text-align: center;
    width: 100px;
  }

  &__loaded {
    opacity: 1;
    transition: opacity 300ms;
  }
}
