@import '../../variables.scss';

.header {
  align-items: center;
  background-color: $quaternary-background-color;
  border-bottom: 5px solid $blueBondi;
  box-shadow: 0 0 10px $primary-background-color;
  display: flex;
  justify-content: space-between;
  margin: 0 0 $spacings-M 0;
  max-width: 1440px;
  min-height: rem-calc(80);
  padding: 0 $spacings-M;
  width: 100%;
  z-index: 10;

  &__title {
    color: $primary-text-color;
    cursor: pointer;
    font-size: $font-size-header;
    font-weight: bold;
    font-family: $secondary-font-family;
    letter-spacing: 5px;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px $blueMirage;
    text-transform: uppercase;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__nav-element {
    color: $primary-text-color;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__nav-element:hover {
    color: $secondary-text-color;
  }
}
