@import '../../variables.scss';

.header {
  background-color: $quaternary-background-color;
  border-bottom: 10px solid $blueBondi;
  box-shadow: 0 10px 10px $primary-background-color;
  display: flex;
  justify-content: space-between;
  margin: 0 0 $spacings-M 0;
  padding: $spacings-XXL $spacings-XL;

  &__title {
    color: $primary-text-color;
    cursor: pointer;
    font-size: $font-size-header;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px $blueMirage;
    text-transform: uppercase;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__nav-element {
    color: $primary-text-color;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__nav-element:hover {
    color: $secondary-text-color;
  }
}
