@import '../../variables.scss';

.header {
  box-shadow: 10px 10px 10px $primary-background-color;
  margin: 0 0 $spacings-M 0;
  background: $primary-gradient;
  border-bottom: 10px solid $blueBondi;

  &__title {
    color: $primary-text-color;
    font-size: $font-size-header;
    font-weight: bold;
    letter-spacing: 5px;
    padding: $spacings-XXL 0 $spacings-XXL 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px $blueMirage;
  }
}
