@import '../../variables.scss';

.header {
  align-items: center;
  background-color: $quaternary-background-color;
  box-shadow: 0 0 10px $primary-background-color;
  display: flex;
  justify-content: space-between;
  display: none;
  min-height: rem-calc(80px);
  padding: 0 $spacings-M;
  width: 100%;
  z-index: 10;

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__nav-element {
    color: $primary-text-color;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__nav-element:hover {
    color: $secondary-text-color;
  }
}
