@import '../../variables.scss';

.header {
  box-shadow: 0 0 10px black;
  height: 60px;
  background: $primary-gradient;
  display: none;
  position: sticky;
  top: 0;
  z-index: 10;
  flex-direction: row;
  align-items: center;
  padding: 0 0 0 $spacings-S;
}

@media screen and (max-width: $tablet-breakpoint) and (min-width: $mobile-breakpoint) {
  .header {
    display: flex;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .header {
    display: flex;
  }
}
