@import '../../variables.scss';

.side-panel {
  background-color: $tertiary-background-color;
  box-shadow: 0 0 8px $primary-background-color;
  color: $primary-text-color;
  min-width: 380px;
  width: 380px;
  padding: $spacings-S;

  &__portfolio {
    align-items: center;
    background: $primary-gradient;
    border-radius: 10px;
    border: 3px solid grey;
    cursor: pointer;
    display: flex;
    font-size: $font-size-title;
    font-weight: bold;
    height: 120px;
    justify-content: center;
    padding: $spacings-L;
    position: relative;
    text-transform: uppercase;
  }

  &__portfolio::after {
    content: '$0';
    font-size: 72px;
    left: 50%;
    opacity: 0.15;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__navigation-panel {
  }

  &__navigation-element {
    padding: $spacings-M 0;
  }
}
