@import '../../variables.scss';

.side-panel {
  background-color: $secondary-background-color;
  background-image: $primary-gradient;
  color: $primary-text-color;
  min-width: rem-calc(320px);
  width: rem-calc(320px);
  height: 100%;
  max-height: 100vh;

  &__portfolio {
    align-items: center;
    background: $primary-background-color;
    border-radius: $secondary-border-radius;
    cursor: pointer;
    display: flex;
    font-size: $font-size-title;
    font-weight: bold;
    height: rem-calc(80px);
    justify-content: center;
    padding: $spacings-L;
    margin: $spacings-L;
    position: relative;
    text-transform: uppercase;
  }

  &__title {
    padding: $spacings-M;
  }

  &__portfolio::after {
    content: '$0';
    font-size: 72px;
    left: 50%;
    opacity: 0.15;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__navigation-panel {
  }

  &__navigation-element {
    padding: $spacings-M $spacings-L;
    color: $secondary-text-color;
    margin: $spacings-M $spacings-L 0 $spacings-L;
    border-radius: $secondary-border-radius;
    cursor: pointer;
  }

  &__navigation-element:hover {
    color: $interactable-text-color;
  }

  &__navigation-element--selected {
    background-color: $primary-background-color;
    margin: $spacings-M $spacings-L 0 $spacings-L;
    color: $primary-text-color;
  }
}
