@import '../../variables.scss';

.footer {
  align-items: center;
  background-color: $quaternary-background-color;
  box-shadow: 0 10px 10px $primary-background-color;
  display: flex;
  justify-content: center;
  margin: $spacings-M 0 0 0;
  padding: $spacings-XL $spacings-XL;
  width: 100%;
  z-index: 15;

  &__repository-label {
    cursor: pointer;
    text-decoration: none;
    border-radius: 2px;
    padding: $spacings-XS $spacings-M;
    background-color: white;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: $quaternary-text-color;
  }
}
