@import '../../variables.scss';

.footer {
  align-items: center;
  background-color: $tertiary-background-color;
  display: flex;
  justify-content: center;
  padding: $spacings-M;
  width: 100%;
  z-index: 15;

  &__repository-label {
    cursor: pointer;
    text-decoration: none;
    padding: $spacings-XS $spacings-M;
    background-color: white;
    border-radius: $primary-border-radius;
    text-transform: uppercase;
    font-weight: bold;
    color: $primary-text-color;
  }
}
