@import '../../variables.scss';

.cryptocurrency-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  &__cryptocurrency-container {
    position: relative;
    align-items: center;
    background-color: $tertiary-background-color;
    border-radius: $primary-border-radius;
    box-shadow: $primary-box-shadow;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-height: rem-calc(520px);
    margin: $spacings-L 0 0 0;
    padding: $spacings-L $spacings-L 0 $spacings-L;
    width: rem-calc(280px);
  }

  &__cryptocurrency-container:hover {
    box-shadow: $interactable-box-shadow;
  }

  &__cryptocurrency-rank {
    align-items: center;
    color: $primary-text-color;
    display: flex;
    font-size: $font-size-title;
    font-weight: bold;
    justify-content: center;
    letter-spacing: rem-calc(3px);
    text-transform: uppercase;
    position: absolute;
    right: 0;
    margin: 0 $spacings-M;
  }

  &__cryptocurrency-icon {
    height: rem-calc(100px);
    min-height: rem-calc(100px);
    min-width: rem-calc(100px);
    width: rem-calc(100px);
  }

  &__cryptocurrency-list-item {
    height: rem-calc(100px);
    text-align: center;
    width: 100%;
  }

  &__cryptocurrency-name {
    align-items: center;
    color: $primary-text-color;
    display: flex;
    font-size: $font-size-title;
    font-weight: bold;
    justify-content: center;
    letter-spacing: rem-calc(3px);
    text-transform: uppercase;
  }

  &__cryptocurrency-price-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  &__cryptocurrency-price {
    color: $primary-text-color;
    font-size: $font-size-title;
    text-align: center;
    text-transform: uppercase;
  }

  &__cryptocurrency-price-change {
    font-size: $font-size-title;
    color: $primary-text-color;
    text-align: center;
    text-transform: uppercase;
  }

  &__cryptocurrency-market-cap-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  &__cryptocurrency-market-cap-label {
    color: $primary-text-color;
    font-size: $font-size-title;
    text-align: center;
    text-transform: capitalize;
  }

  &__cryptocurrency-market-cap {
    color: $primary-text-color;
    font-size: $font-size-title;
    text-align: center;
    text-transform: uppercase;
  }

  &__cryptocurrency-price-change-chart {
    position: absolute;
    left: -$spacings-S;
    bottom: -$spacings-S;
    opacity: 0.5;
    width: calc(100% + 10px);
  }
}

@media screen and (max-width: $smalldesktop-breakpoint) and (min-width: $tablet-breakpoint) {
  .cryptocurrency-list {
    &__cryptocurrency-container {
      width: rem-calc(230px);
    }
  }
}

@media screen and (max-width: $tablet-breakpoint) and (min-width: $mobile-breakpoint) {
  .cryptocurrency-list {
    &__cryptocurrency-container {
      width: rem-calc(340px);
    }
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .cryptocurrency-list {
    justify-content: center;

    &__cryptocurrency-container {
      width: 100%;
    }
  }
}
