@import './variables.scss';

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $primary-font-family;
  background-color: $primary-background-color;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;

  transition: background-color 300ms, color 300ms, box-shadow 300ms;
}

.app {
  position: relative;
  margin: auto;
  //max-width: rem-calc(1440px);

  &__router {
    min-height: calc(100vh);
    max-width: 100%;
    width: 100%;
    position: relative;
    padding: $spacings-M $spacings-M 0 $spacings-M;
  }

  &__side-panel {
    position: sticky;
    top: 0;
  }

  &__side-panel-container {
    position: relative;
    min-height: 100%;
  }

  &__content {
    position: relative;
    display: flex;
    min-width: 100%;
    flex-direction: row;
  }
}
