@import './utils/utils.scss';

// palette
$blackEbonyClay: #222831;
$blueBigStone: #162a40;
$blueBondi: #00adb5;
$blueMirage: #161928;
$greenHaze: #01a368;
$greyBright: #393e46;
$redValencia: #d84437;
$white: #ffffff;
$whiteGallery: #eeeeee;

// COLORS

$primary-green-positive: $greenHaze;
$primary-red-negative: $redValencia;

//text colors
$primary-text-color: $blueMirage;
$secondary-text-color: $whiteGallery;
$interactable-text-color: $blueBondi;

// background colors
$primary-background-color: $whiteGallery;
$secondary-background-color: $blueMirage;
$tertiary-background-color: $white;
$quaternary-background-color: $whiteGallery;

// box shadow
$primary-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.07);
$interactable-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.07), 0 20px 25px 0 rgba(0, 0, 0, 0.1);

// gradient
$primary-gradient: linear-gradient(140deg, #6a11cb 0%, #2575fc 100%);

// border-colors
$primary-border: rem-calc(3px) solid $whiteGallery;
$secondary-border: rem-calc(3px) solid $blueBondi;

// border-radius
$primary-border-radius: rem-calc(5px);
$secondary-border-radius: rem-calc(10px);

// spacings
$spacings-XS: rem-calc(4);
$spacings-S: rem-calc(10);
$spacings-M: rem-calc(16);
$spacings-L: rem-calc(24);
$spacings-XL: rem-calc(30);
$spacings-XXL: rem-calc(70);
$spacings-XXXL: rem-calc(200);

// font size
$font-size-header: rem-calc(36);
$font-size-title: rem-calc(18);
$font-size-text: rem-calc(16);
$font-size-subtitle: rem-calc(20);

$font-size-header-mobile: rem-calc(28);
$font-size-title-mobile: rem-calc(18);
$font-size-text-mobile: rem-calc(16);
$font-size-subtitle-mobile: rem-calc(20);

// font families
$primary-font-family: 'Montserrat', 'Arial';
$secondary-font-family: 'Roboto', 'Arial';

// transition durations
$primary-transition-duration: 300ms;

// breakpoints
$mobile-breakpoint: rem-calc(425px);
$tablet-breakpoint: rem-calc(768px);
$smalldesktop-breakpoint: rem-calc(1024px);
$desktop-breakpoint: rem-calc(1440px);
